@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: none; }
  .loading .lds-ring {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: px2vw(10);
    background-color: rgba(0, 0, 0, 0.5);
    padding: px2vw(10);
    box-sizing: content-box; }

.toast {
  position: fixed;
  max-width: 80%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  z-index: 1000;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 6px 10px;
  min-width: 60px;
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-out; }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.wrapper {
  width: 100%; }
  .wrapper .world-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .wrapper .how-money-icon {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 93.33333vw;
    width: 66.13333vw; }
  .wrapper .button-content {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 123vw;
    background-image: url("./img/button-bg.png");
    background-size: cover;
    width: 82.66667vw;
    height: 14.4vw;
    text-align: center;
    color: #fff;
    line-height: 12.8vw;
    font-weight: bold;
    font-size: 4.26667vw; }
  .wrapper .money {
    position: absolute;
    width: 26.66667vw;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 107.2vw;
    color: #ffffff;
    font-size: 10.88vw;
    font-weight: bold;
    color: #ffffff;
    z-index: 999;
    display: none; }
    .wrapper .money::after {
      content: '元';
      font-size: 4.53333vw;
      font-weight: normal; }
  .wrapper .explain {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 3.73333vw;
    width: 90.13333vw;
    top: 146.6vw; }
    .wrapper .explain p {
      color: #ffff;
      margin: 0;
      font-size: 3.73333vw;
      line-height: 7.46667vw;
      text-indent: -1.33333vw; }

/*# sourceMappingURL=style.css.map */
