$color-yellow: #fdd000;
$color-dark: #3d3d3d;
$color-gray: #C4C3C3;

@function px2vw($px) {
  @return $px / (375/100)+vw;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  color: $color-dark;
  text-align: center;
}

.button {
  display: block;
  width: 100%;
  height: px2vw(49);
  font-size: px2vw(17);
  outline: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: px2vw(4);
  border: 0;

  &.button-primary {
    box-shadow: 0 0 px2vw(4) 0 rgba(0, 0, 0, 0.50);
    background-image: linear-gradient(-135deg, $color-dark 0%, #181818 100%);
    color: #fff;
  }

  &.button-default {
    border: 1px solid $color-dark;
    background-color: transparent;
    color: $color-dark;
  }
}

.close-btn {
  position: relative;
  width: 7vw;
  height: 7vw;

  &::before,
  &::after {
    content: '';
    width: 7vw;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  &::before {
    transform: rotate(45deg)
  }

  &::after {
    transform: rotate(-45deg)
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fbe115;

  .top-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url(./img/bg.png);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;

    .logo {
      width: 25%;
      display: block;
      margin-top: 2vw;
      margin-left: 3vw;
    }

    .copy {
      overflow: hidden;
      text-align: center;
      margin-top: 2vw;

      h1 {
        font-size: px2vw(21);
        margin: 0;
      }

      h2 {
        font-size: px2vw(16);
        font-weight: normal;
        margin: 0;
        margin-top: 1vw;
      }
    }

    .car {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        width: 80%;
        height: auto;
      }
    }
  }

  form {
    height: 46vw;
    background: #FFFFFF;
    box-shadow: 0 px2vw(2) px2vw(13) 0 rgba(0, 0, 0, 0.19);
    border-radius: px2vw(2);
    width: 94%;
    margin: 0 auto;
    padding: 3vw;
    position: relative;

    .form-title {
      font-size: px2vw(16);
    }

    input {
      margin-top: 2vw;
      background: rgba(61, 61, 61, 0.10);
      border-radius: px2vw(2);
      width: 100%;
      height: px2vw(49);
      font-size: px2vw(17);
      line-height: px2vw(17);
      outline: none;
      border: 0;
      padding-left: 3vw;
    }

    .tip{
      font-size: px2vw(10);
      margin: 0.5vw 0;
      color: #aaa;
    }

    button {
      margin-top: 1vw;
    }

    .form-link {
      position: absolute;
      font-size: px2vw(14);
      color: #6A9BE4;
      top: 2vw;
      right: 3vw;
    }
  }

  .rules-link {
    font-size: px2vw(15);
    color: #3D3D3D;
    line-height: 12vw;
    text-decoration: none;
  }
}

.rules {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(135, 135, 135, 0.60);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .rules-container {
    width: px2vw(289);
    background-color: #fff;
    position: relative;
  }

  h3 {
    background-color: #3d3d3d;
    margin: 0;
    font-size: px2vw(18);
    color: #FDD000;
    padding: 5vw 0;
    font-weight: normal;
  }

  ul {
    list-style: decimal;
    text-align: left;
    padding-right: 20px;

    li {
      margin-bottom: 1vw;
    }
  }

  .close-btn {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -50px
  }
}

.success-page {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;

  img {
    width: 100%;
    padding: 10vw 8vw;
  }

  button {
    width: 90%;
    margin: auto;
  }

  .button-default {
    margin-top: 3vw;
    display: none;
  }
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;

  .lds-ring {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: px2vw(10);
    background-color: rgba(0, 0, 0, .5);
    padding: px2vw(10);
    box-sizing: content-box;
  }
}

.toast {
  position: fixed;
  max-width: 80%;
  border-radius: 5px;
  background: rgba(0, 0, 0, .7);
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  z-index: 1000;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 6px 10px;
  min-width: 60px;
  display: none;
  opacity: 0;
  transition: opacity .2s ease-out;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 500px) {
  body {
    max-width: 500px;
    margin: auto;
    position: relative;
  }

  .wrapper {
    position: relative;
    height: 850px;
  }

  .wrapper form {
    height: 230px;
    box-shadow: 0 2.5px 17.5px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
  }

  .wrapper form .form-title {
    font-size: 22px;
  }

  .wrapper form input {
    font-size: 23px;
    margin-top: 10px;
    border-radius: 3px;
    height: 65px;
    line-height: 22.5px;
    padding-left: 15px;
    text-align: center;
  }

  .wrapper form button {
    margin-top: 5px;
  }

  .button {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    height: 65px;
    font-size: 23px;
  }

  .wrapper .rules-link {
    font-size: 20px;
  }

  .close-btn {
    width: 35px;
    height: 35px;
  }

  .wrapper .top-container .logo {
    margin-top: 10px;
    margin-left: 15px;
  }

  .rules {
    max-width: 500px;
    height: 850px;
  }

  .rules .rules-container {
    width: 385px;
  }

  .rules h3 {
    font-size: 24px;
    padding: 25px 0;
  }

  .rules ul li {
    margin-bottom: 5px;
  }

  .close-btn::before,
  .close-btn::after {
    width: 35px;
  }

  .wrapper .rules-link {
    line-height: 60px;
  }

  .success-page img {
    padding: 50px 40px;
  }

  .wrapper form .tip{
    font-size: 12px;
  }
}